# VSCode settings
.vscode/

# Build directory
build/

# OSX .DS_Store
.DS_Store
*/.DS_Store

# Windows stackdump
*.stackdump

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Python bytecode
__pycache__/
*.pyc

# Research program outputs
research/build/
sections69.txt
g18.json
